.body {
    font-family :'Roboto'100,200,300,400 sans-serif;
}
.row bg-color-company-name-description{
    background-color:#AFEEEE;
}
.logo {

    background: url("../assets/images/Morisot.jpg");

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    min-height: 360px;

    transition: all .4s ease-in-out;

    -moz-transition: all .4s ease-in-out;

    -webkit-transition: all .4s ease-in-out;

}
div#map{min-height:360px;}

    
